<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User Authentication</title>
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

    <!-- damn this is hard -->
    <h1 class="error" id="userExistsLabel"
        th:if="${session.state} == 'userExistsError'">
        The user with the provided name already exists. Try again or use LOG IN option
    </h1>
    <h1 class="error" id="somethingWentWrong"
        th:if="${session.state} == 'error'">
        Something went wrong. Try again
    </h1>

    <h1 class="error" id="somethingWentWrong"
        th:if="${session.state} == 'noUserFound'">
        The user does not exist. Try again or use CREATE USER option
    </h1>

    <form id="userForm" method="POST" action="/user-action">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required placeholder="Enter your username" />
        <div class="buttons">
            <button type="submit" name="action" value="login">Log in</button>
            <button type="submit" name="action" value="create">Create User</button>
        </div>
    </form>
</body>
</html>